{% extends 'base.html' %}

{% block head_content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    h1 {
        text-align: center;
        color: #333;
    }
    .form-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
    }
    label {
        display: block;
        margin-bottom: 5px;
        color: #333;
    }
    input[type="text"], select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type="text"]:focus, select:focus {
        border-color: #66afe9;
        outline: none;
        box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    }
    .buttonCreate {
        text-align: center;
    }
    button {
        padding: 10px 20px;
        background-color: #28a745;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }
    button:hover {
        background-color: #218838;
    }
</style>
{% endblock %}

{% block main_content %}
<div class="form-container">
    <h1>Add Trainee</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        {{ form.name }}
        
        <label for="{{ form.id_obj.id_for_label }}">{{ form.id_obj.label }}</label>
        {{ form.id_obj }}
        
        <label for="{{ form.image.id_for_label }}">{{ form.image.label }}</label>
        {{ form.image }}
        
        <div class="buttonCreate">
            <button type="submit">Create</button>
        </div>
    </form>
</div>
{% endblock %}
